# Pandas (3)

__Авторы задач: Блохин Н.В. (NVBlokhin@fa.ru), Макрушин С.В. (SVMakrushin@fa.ru)__

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [ ]:
import pandas as pd

In [ ]:
prices = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/sp500hst.txt",
    sep=",",
    header=None,
    names=["date", "ticker", "open", "high", "low", "close", "volume"]
)

tickers = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/sp_data2.csv",
    sep=";",
    header=None,
    names=["ticker", "name", "%"]
)

In [ ]:
prices.head(2)

       date ticker   open   high    low  close  volume
0  20090821      A  25.60  25.61  25.22  25.55   34758
1  20090824      A  25.64  25.74  25.33  25.50   22247

In [ ]:
tickers.head(2)

  ticker        name     %
0   AAPL       Apple  3.6%
1   AMZN  Amazon.com  3.2%

In [ ]:
'''
SELECT SUM(volume)
FROM prices
GROUP BY ticker
'''

prices.groupby("ticker")["volume"].sum()

ticker
A        8609336
AA      81898998
AAPL    52261170
ABC      9006756
ABT     18975870
          ...
XTO     21297931
YHOO    56837171
YUM     10971538
ZION    15551119
ZMH      4938916
Name: volume, Length: 524, dtype: int64

2. Для каждого тикера определите максимальную по модулю разницу между ценой закрытия и ценой открытия

In [ ]:
def diff(group):
    return (group["close"] - group["open"]).abs().max()

group = prices[prices["ticker"]=="A"]
diff(group)

prices.groupby("ticker").apply(diff)

ticker
A        1.930
AA       0.950
AAPL    10.750
ABC      2.820
ABT      1.460
         ...
XTO      1.680
YHOO     0.705
YUM      1.660
ZION     1.820
ZMH      2.260
Length: 524, dtype: float64

3. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [ ]:
prices.head(2)

In [ ]:
tickers.head(2)

In [ ]:
'''
SELECT *
FROM prices
JOIN tickers ON prices.ticker = tickers.ticker
'''

result = prices.merge(
    tickers,
    how="left",
    #on="ticker"
    left_on="ticker",
    right_on="ticker"
)

result["name"] = result["name"].fillna("Not found")
result

,date,ticker,open,high,low,close,volume,name,%
0,20090821,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies,0.1%
...,...,...,...,...,...,...,...,...,...
122569,20100813,ZMH,51.72,51.9000,51.380,51.44,14561,Not found,NaN
122570,20100816,ZMH,51.13,51.4700,50.600,51.00,13489,Not found,NaN
122571,20100817,ZMH,51.14,51.6000,50.890,51.21,20498,Not found,NaN
122572,20100819,ZMH,51.63,51.6300,50.170,50.22,18259,Not found,NaN
122573,20100820,ZMH,50.03,50.5500,49.480,49.82,17792,Not found,NaN

In [ ]:
result.to_csv("result.csv", sep="\t", index=False)

result.to_excel("result.xlsx")

with pd.ExcelWriter('output.xlsx') as writer:
    prices.to_excel(writer, sheet_name='Sheet_name_1')
    tickers.to_excel(writer, sheet_name='Sheet_name_2')

## Лабораторная работа №2.3

__При решении данных задач не подразумевается использования циклов или генераторов Python в ходе работы с пакетами `numpy` и `pandas`, если в задании не сказано обратного. Решения задач, в которых для обработки массивов `numpy` или структур `pandas` используются явные циклы (без согласования с преподавателем), могут быть признаны некорректными и не засчитаны.__

In [ ]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
recipes=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/recipes_sample.csv")
reviews=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/reviews_sample.csv",index_col=0)

In [ ]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN

In [ ]:
reviews.head(2)

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...

### Группировки таблиц `pd.DataFrame`

5.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [ ]:
res=recipes.groupby("contributor_id")["id"].count()
res

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64

In [ ]:
res.idxmax()

89831

5.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [ ]:
print(reviews.groupby("recipe_id")["rating"].mean())

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [ ]:
recipes['id'].nunique()-reviews["recipe_id"].nunique()

1900

5.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [ ]:
recipes["submitted"] = pd.to_datetime(recipes["submitted"], format="%Y-%m-%d")
recipes.groupby(recipes.submitted.dt.year)['id'].count()

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

5.4 Напишите функцию, которая принимает на вход таблицу (аналогичную `recipes` по набору столбцов), и возвращает `True` в том случае, если в столбце `minutes` присутствуют только значения, меньшие либо равные 10. Сгруппируйте таблицу `recipes` по полю `contributor_id` и для каждого участника при помощи написанной функции выясните, справедливо ли, что все его рецепты занимают не более 10 минут.

In [ ]:
def has_only_fast_recipes(x: pd.DataFrame) -> bool:
    if((x["minutes"]>=10).all()):
      return False
    else:
      return True


assert not has_only_fast_recipes(
    pd.DataFrame(
        {
            "name": {0: "george s", 1: "healthy"},
            "id": {0: 44123, 1: 67664},
            "minutes": {0: 90, 1: 10},
            "contributor_id": {0: 35193, 1: 91970},
            "submitted": {0: "2002-10-25", 1: "2003-07-26"},
            "n_steps": {0: np.nan, 1: np.nan},
            "description": {0: "123", 1: "zxc"},
            "n_ingredients": {0: 18.0, 1: np.nan},
        }
    )
)
assert has_only_fast_recipes(
    pd.DataFrame(
        {
            "name": {0: "george s", 1: "healthy"},
            "id": {0: 44123, 1: 67664},
            "minutes": {0: 7, 1: 5},
            "contributor_id": {0: 35193, 1: 91970},
            "submitted": {0: "2002-10-25", 1: "2003-07-26"},
            "n_steps": {0: np.nan, 1: np.nan},
            "description": {0: "123", 1: "zxc"},
            "n_ingredients": {0: 18.0, 1: np.nan},
        }
    )
)

In [ ]:
recipes.groupby('contributor_id').apply(has_only_fast_recipes)

contributor_id
1530          False
1533           True
1534           True
1535           True
1538           True
              ...
2001968497    False
2002059754    False
2002234079    False
2002234259    False
2002247884    False
Length: 8404, dtype: bool

### Объединение таблиц `pd.DataFrame`

6.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
recipes.head(2)

NameError: ignored

In [ ]:
reviews.groupby("recipe_id")['rating'].count()

recipe_id
48         2
55         4
66        18
91         4
94         4
          ..
536547     1
536610     1
536728     1
536729     4
536747     4
Name: rating, Length: 28100, dtype: int64

In [ ]:
result1 = recipes.merge(
    reviews,
    how="left",
    left_on="id",
    right_on="recipe_id",
)
result1.drop(['minutes', 'contributor_id', 'submitted','submitted','description', 'n_ingredients','recipe_id','date','n_steps','review'], axis=1, inplace=True)
result1

                                          name      id    user_id  rating
0        george s at the cove  black bean soup   44123   743566.0     5.0
1        george s at the cove  black bean soup   44123    76503.0     5.0
2        george s at the cove  black bean soup   44123    34206.0     5.0
3           healthy for them  yogurt popsicles   67664   494084.0     5.0
4           healthy for them  yogurt popsicles   67664   303445.0     5.0
...                                        ...     ...        ...     ...
128591                             zydeco soup  486161   305531.0     5.0
128592                             zydeco soup  486161  1271506.0     5.0
128593                             zydeco soup  486161   724631.0     5.0
128594                             zydeco soup  486161   133174.0     5.0
128595  cookies by design   cookies on a stick  298512   804234.0     1.0

[128596 rows x 4 columns]

In [ ]:
result1.dropna(subset=['rating'],inplace=True)
result1

                                          name      id    user_id  rating
0        george s at the cove  black bean soup   44123   743566.0     5.0
1        george s at the cove  black bean soup   44123    76503.0     5.0
2        george s at the cove  black bean soup   44123    34206.0     5.0
3           healthy for them  yogurt popsicles   67664   494084.0     5.0
4           healthy for them  yogurt popsicles   67664   303445.0     5.0
...                                        ...     ...        ...     ...
128591                             zydeco soup  486161   305531.0     5.0
128592                             zydeco soup  486161  1271506.0     5.0
128593                             zydeco soup  486161   724631.0     5.0
128594                             zydeco soup  486161   133174.0     5.0
128595  cookies by design   cookies on a stick  298512   804234.0     1.0

[126696 rows x 4 columns]

6.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [ ]:
result2 = recipes.merge(
    reviews,
    how="left",
    left_on="id",
    right_on="recipe_id",
)

result2.drop(['minutes','id', 'contributor_id', 'submitted','submitted','description', 'n_ingredients','user_id','date','n_steps','review','rating'], axis=1, inplace=True)
result2=result2.drop_duplicates()

NameError: ignored

In [ ]:
result2["review_count"]=reviews.groupby("recipe_id")['rating'].count()
result2["review_count"]=result2["review_count"].fillna(0)
result2

                                                name  recipe_id  review_count
0              george s at the cove  black bean soup    44123.0           0.0
3                 healthy for them  yogurt popsicles    67664.0           0.0
11                      i can t believe it s spinach    38798.0           0.0
14                              italian  gut busters    35173.0           0.0
15          love is in the air  beef fondue   sauces    84797.0           0.0
...                                              ...        ...           ...
128577  zurie s holey rustic olive and cheddar bread   267661.0           0.0
128581          zwetschgenkuchen  bavarian plum cake   386977.0           0.0
128583   zwiebelkuchen   southwest german onion cake   103312.0           0.0
128589                                   zydeco soup   486161.0           0.0
128595        cookies by design   cookies on a stick   298512.0           0.0

[30000 rows x 3 columns]

6.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [ ]:
result3=recipes.merge(
    reviews,
    how="left",
    left_on="id",
    right_on="recipe_id",
)

minim=result3.groupby(result3.submitted.dt.year)["rating"].mean().min()
re=result3.groupby(result3.submitted.dt.year)["rating"].mean().idxmin()
re

2017

### Сохранение таблиц `pd.DataFrame`

7.1 Отсортируйте результат выполнения задания 6.1 в порядке убывания величины столбца `id` и сохраните результаты в csv файл.

In [ ]:
result1.sort_values(by='id', ascending=False).to_csv("result.csv", sep="\t", index=False)

7.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 6.1 и 6.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 6.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 6.2.

In [ ]:
with pd.ExcelWriter('output.xlsx') as writer:
  result1.head(100).to_excel(writer, sheet_name='Рецепты с оценками')
  result2.head(100).to_excel(writer, sheet_name='Количество отзывов по рецептам')