# Pandas (1)

__Авторы задач: Блохин Н.В. (NVBlokhin@fa.ru), Макрушин С.В. (SVMakrushin@fa.ru)__

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [ ]:
import numpy as np
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
import pandas as pd
db = pd.read_csv(
    "/content/drive/MyDrive/Colab Notebooks/sp500hst.txt",
    sep=",",
    header=None,
    names=["date", "ticker", "open", "high", "low", "close", "volume"]
)
db

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
db.iloc[:, 3:].mean()

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

## Лабораторная работа №2.1

__При решении данных задач не подразумевается использования циклов или генераторов Python в ходе работы с пакетами `numpy` и `pandas`, если в задании не сказано обратного. Решения задач, в которых для обработки массивов `numpy` или структур `pandas` используются явные циклы (без согласования с преподавателем), могут быть признаны некорректными и не засчитаны.__

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
recipes=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/recipes_sample.csv")
reviews=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/reviews_sample.csv",index_col=0)

FileNotFoundError: ignored

In [ ]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [ ]:
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
# Количество точек данных в таблице recipes
recipes.shape[0]

30001

In [ ]:
# Количесто точек данных в таблице reviews
reviews.shape[0]

126697

In [ ]:
# Количесто точек данных в таблице reviews
reviews.shape[1]

6

In [ ]:
# Количество точек данных в таблице recipes
recipes.shape[1]

NameError: ignored

In [ ]:
# Тип данных для каждого столбца таблицы recipes
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [ ]:
# Тип данных для каждого столбца таблицы reviews
reviews.dtypes

user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
res1=recipes.count(axis=0)
count=recipes.shape[0]
print(res1)
print((count-res1)/count)

name              30000
id                30000
minutes           30000
contributor_id    30000
submitted         30000
n_steps           18810
description       29377
n_ingredients     21120
dtype: int64
name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

In [ ]:
res1=reviews.count(axis=0)
count=reviews.shape[0]
print(res1)
print((count-res1)/count)

user_id      126696
recipe_id    126696
date         126696
rating       126696
review       126679
dtype: int64
user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте и выведите на экран среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
recipes.iloc[:,[2,5,7]].mean(axis=0)

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [ ]:
reviews.iloc[:,3].mean()

4.410802235271832

1.5 Создайте и выведите на экран серию из 10 случайных названий рецептов.

In [ ]:
recipes.sample(n=10)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
26318,summer peaches with raspberries,368627,10,424680,2009-04-29,3.0,yet another simple dessert from the 1995 veget...,5.0
29762,yummy low calorie french toast,170505,30,321390,2006-05-30,4.0,soooo good,5.0
17836,mixed berry grunt,125784,38,80998,2005-06-13,7.0,a wonderful substitute for cobbler.,11.0
21421,potato gratin with juniper,137034,75,163112,2005-09-11,9.0,i found this at epicurious & saved it to submi...,NaN
20861,pineapple butterscotch bars,129742,50,222696,2005-07-13,8.0,although the pineapple-butterscotch combinatio...,9.0
25029,soy dipping sauce for pot stickers or egg rolls,311191,5,464080,2008-07-01,NaN,this is a recipe from the side of a trader joe...,7.0
9713,dynasty corn pudding,469496,45,75998,2011-12-05,5.0,this recipe came from parade magazine and was ...,9.0
8014,crawfish shrimp etouffee,64005,270,52282,2003-06-06,11.0,i made this for dinner tonight and i just had ...,17.0
19165,one egg cake,522984,55,2000360130,2015-08-03,NaN,based on joy of desserts blog recipe: http://j...,7.0
22021,quinoa avocado verrines,424111,30,37449,2010-05-09,NaN,the verrine trend took france by storm several...,NaN

1.6 Выведите на экран строку таблицы `reviews` с __номером__ `54200`. Выведите на экран строку таблицы `reviews` с __индексом__ `54200`.

In [ ]:
reviews.loc[54200]

user_id                                                 853909
recipe_id                                                51058
date                                                2008-12-30
rating                                                       0
review       Excellent recipe!  My picky eaters love this. ...
Name: 54200, dtype: object

In [ ]:
reviews.iloc[54200]

user_id                                                 813584
recipe_id                                                  916
date                                                2008-08-16
rating                                                       5
review       I've made this 3-4 times already and forgot to...
Name: 667742, dtype: object

1.7 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
print(reviews)
reviews.index= np.arange(0, len(reviews))
print(reviews)

            user_id  recipe_id        date  rating  \
370476        21752      57993  2003-05-01       5
624300       431813     142201  2007-09-16       5
187037       400708     252013  2008-01-10       4
706134   2001852463     404716  2017-12-11       5
312179        95810     129396  2008-03-14       5
...             ...        ...         ...     ...
1013457     1270706     335534  2009-05-17       4
158736      2282344       8701  2012-06-03       0
1059834      689540     222001  2008-04-08       5
453285   2000242659     354979  2015-06-02       5
691207       463435     415599  2010-09-30       5

                                                    review
370476   Last week whole sides of frozen salmon fillet ...
624300   So simple and so tasty!  I used a yellow capsi...
187037   Very nice breakfast HH, easy to make and yummy...
706134   These are a favorite for the holidays and so e...
312179   Excellent soup!  The tomato flavor is just gre...
...                                                    ...
1013457  This recipe was great! I made it last night. I...
158736   This recipe is outstanding. I followed the rec...
1059834  Well, we were not a crowd but it was a fabulou...
453285   I have been a steak eater and dedicated BBQ gr...
691207   Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]
           user_id  recipe_id        date  rating  \
0            21752      57993  2003-05-01       5
1           431813     142201  2007-09-16       5
2           400708     252013  2008-01-10       4
3       2001852463     404716  2017-12-11       5
4            95810     129396  2008-03-14       5
...            ...        ...         ...     ...
126691     1270706     335534  2009-05-17       4
126692     2282344       8701  2012-06-03       0
126693      689540     222001  2008-04-08       5
126694  2000242659     354979  2015-06-02       5
126695      463435     415599  2010-09-30       5

                                                   review
0       Last week whole sides of frozen salmon fillet ...
1       So simple and so tasty!  I used a yellow capsi...
2       Very nice breakfast HH, easy to make and yummy...
3       These are a favorite for the holidays and so e...
4       Excellent soup!  The tomato flavor is just gre...
...                                                   ...
126691  This recipe was great! I made it last night. I...
126692  This recipe is outstanding. I followed the rec...
126693  Well, we were not a crowd but it was a fabulou...
126694  I have been a steak eater and dedicated BBQ gr...
126695  Wonderful and simple to prepare seasoning blen...

[126696 rows x 5 columns]

1.8 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
recipes[(recipes.iloc[:,2]<20) & (recipes.iloc[:,7]<5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
143,2 minute broccoli,256464,4,165433,2007-10-01,7.0,"so easy. tender crisp. hot, steamed broccoli...",2.0
168,3 ingredient moroccan dry rub,505748,3,65502,2013-08-12,NaN,who says that recipes have to be complicated t...,3.0
...,...,...,...,...,...,...,...,...
29817,zen wine spritzer,498523,1,2585084,2013-04-06,3.0,this is a light and refreshing beverage that i...,4.0
29858,zesty stuffed olives,269904,10,226066,2007-12-05,NaN,from kraft. too cute not to try!!,4.0
29866,zhanyshpa from kazakhstan,160599,15,279179,2006-03-20,NaN,this is another typical kazakh dessert.,4.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0